@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.skeleton-img {
    min-height: 350px;
}

#horizontal #card .skeleton-img {
    min-width:270px;
    min-height:270px;
}

#horizontal #card {
    display:flex;
    align-items:center;
    justify-content:center;
    width:45rem;
}


#horizontal #card > div:nth-child(1) {
    margin:15px;
    margin-right:0;
    width:auto;
}

#horizontal #card > div:nth-child(1) img {
    display:block;
    margin:0;
    object-fit:contain;
    max-width:270px;
}

#horizontal #card > div:nth-child(2) {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-grow:1;
    padding:15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

header .svg-position:hover svg {
    animation: spin .7s linear;
}

.card-tilt {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.card-tilt img,
.card-tilt h1,
.card-tilt #stats,
.card-tilt #social a,
.card-tilt #social a svg,
.card-tilt #info > div {
    transform: translateZ(20px);
}

@media (max-width: 786px) {
    #horizontal #card {
        width:96vw;
        overflow:scroll;
    }
}